In [2]:
!pip install html5lib
!pip install bs4

Requirement already satisfied: html5lib in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (from html5lib) (0.5.1)
^C

Requirement already satisfied: bs4 in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ahmed\anaconda3\envs\ml\lib\site-packages (from beautifulsoup4->bs4) (2.6)

In [3]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [5]:
soup = BeautifulSoup(html, 'html5lib')

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [7]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [8]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [16]:
tag_object=soup.h3
tag_object

In [20]:
tag_child =tag_object.b
print(tag_child)

<b id="boldest">Lebron James</b>

In [22]:
parent_tag=tag_child.parent
parent_tag

In [23]:
sibling_1=tag_object.next_sibling
sibling_1

In [24]:
sibling_2=sibling_1.next_sibling
sibling_2

In [25]:
tag_child['id']

'boldest'

In [26]:
tag_child.attrs

{'id': 'boldest'}

In [27]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [28]:
type(tag_string)

bs4.element.NavigableString

In [29]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [30]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

In [31]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [32]:
table_bs = BeautifulSoup(table, 'html5lib')

In [33]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

In [35]:
first_row =table_rows[0]
first_row

In [36]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [42]:
first_row.td

In [43]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

In [46]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [47]:
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell.string)

row 0
colunm 0 cell Flight No
colunm 1 cell Launch site
colunm 2 cell Payload mass
row 1
colunm 0 cell 1
colunm 1 cell None
colunm 2 cell 300 kg
row 2
colunm 0 cell 2
colunm 1 cell Texas
colunm 2 cell 94 kg
row 3
colunm 0 cell 3
colunm 1 cell None
colunm 2 cell 80 kg

In [48]:
list_input=table_bs .find_all(["tr", "td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

In [53]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>
</table>

In [50]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [51]:
two_tables_bs= BeautifulSoup(two_tables, 'html.parser')

In [52]:
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [54]:
two_tables_bs.find("table",class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [55]:
url = "http://www.ibm.com"

In [56]:
data  = requests.get(url).text

In [58]:
soup = BeautifulSoup(data,"html5lib")

In [64]:
for link in soup.find_all('a',href=True):
    print(link.get('href'))

https://www.ibm.com/hybrid-cloud?lnk=hpUSbt1
https://www.ibm.com/consulting

In [68]:
for link in soup.find_all('img'):
    print(link)
    print(link.get('src'))

### Scrape data from HTML tables

In [69]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [77]:
data = requests.get(url).text

In [78]:
soup = BeautifulSoup(data, "html5lib")

In [89]:
rows = soup.find_all('tr')
for row in rows:
    # print(row) 
    cols = row.find_all('td')
    print(cols)
cols

[<td>Number </td>, <td>Color</td>, <td>Color Name</td>, <td>Hex Code<br/>#RRGGBB</td>, <td>Decimal Code<br/>(R,G,B)</td>]
[<td>1</td>, <td style="background:lightsalmon;"> </td>, <td>lightsalmon</td>, <td>#FFA07A</td>, <td>rgb(255,160,122)</td>]
[<td>2</td>, <td style="background:salmon;"> </td>, <td>salmon</td>, <td>#FA8072</td>, <td>rgb(250,128,114)</td>]
[<td>3</td>, <td style="background:darksalmon;"> </td>, <td>darksalmon</td>, <td>#E9967A</td>, <td>rgb(233,150,122)</td>]
[<td>4</td>, <td style="background:lightcoral;"> </td>, <td>lightcoral</td>, <td>#F08080</td>, <td>rgb(240,128,128)</td>]
[<td>5</td>, <td style="background:coral;"> </td>, <td>coral</td>, <td>#FF7F50</td>, <td>rgb(255,127,80)</td>]
[<td>6</td>, <td style="background:tomato;"> </td>, <td>tomato</td>, <td>#FF6347</td>, <td>rgb(255,99,71)</td>]
[<td>7</td>, <td style="background:orangered;"> </td>, <td>orangered</td>, <td>#FF4500</td>, <td>rgb(255,69,0)</td>]
[<td>8</td>, <td style="background:gold;"> </td>, <td>gold</td>, <td>#FFD700</td>, <td>rgb(255,215,0)</td>]
[<td>9</td>, <td style="background:orange;"> </td>, <td>orange</td>, <td>#FFA500</td>, <td>rgb(255,165,0)</td>]
[<td>10</td>, <td style="background:darkorange;"> </td>, <td>darkorange</td>, <td>#FF8C00</td>, <td>rgb(255,140,0)</td>]
[<td>11</td>, <td style="background:lightyellow;"> </td>, <td>lightyellow</td>, <td>#FFFFE0</td>, <td>rgb(255,255,224)</td>]
[<td>12</td>, <td style="background:lemonchiffon;"> </td>, <td>lemonchiffon</td>, <td>#FFFACD</td>, <td>rgb(255,250,205)</td>]
[<td>13</td>, <td style="background:papayawhip;"> </td>, <td>papayawhip</td>, <td>#FFEFD5</td>, <td>rgb(255,239,213)</td>]
[<td>14</td>, <td style="background:moccasin;"> </td>, <td>moccasin</td>, <td>#FFE4B5</td>, <td>rgb(255,228,181)</td>]
[<td>15</td>, <td style="background:peachpuff;"> </td>, <td>peachpuff</td>, <td>#FFDAB9</td>, <td>rgb(255,218,185)</td>]
[<td>16</td>, <td style="background:palegoldenrod;"> </td>, <td>palegoldenrod</td>, <td>#EEE8AA</td>, <td>rgb(238,232,170)</td>]
[<td>17</td>, <td style="background:khaki;"> </td>, <td>khaki</td>, <td>#F0E68C</td>, <td>rgb(240,230,140)</td>]
[<td>18</td>, <td style="background:darkkhaki;"> </td>, <td>darkkhaki</td>, <td>#BDB76B</td>, <td>rgb(189,183,107)</td>]
[<td>19</td>, <td style="background:yellow;"> </td>, <td>yellow</td>, <td>#FFFF00</td>, <td>rgb(255,255,0)</td>]
[<td>20</td>, <td style="background:lawngreen;"> </td>, <td>lawngreen</td>, <td>#7CFC00</td>, <td>rgb(124,252,0)</td>]
[<td>21</td>, <td style="background:chartreuse;"> </td>, <td>chartreuse</td>, <td>#7FFF00</td>, <td>rgb(127,255,0)</td>]
[<td>22</td>, <td style="background:limegreen;"> </td>, <td>limegreen</td>, <td>#32CD32</td>, <td>rgb(50,205,50)</td>]
[<td>23</td>, <td style="background:lime;"> </td>, <td>lime</td>, <td>#00FF00</td>, <td>rgb(0.255.0)</td>]
[<td>24</td>, <td style="background:forestgreen;"> </td>, <td>forestgreen</td>, <td>#228B22</td>, <td>rgb(34,139,34)</td>]
[<td>25</td>, <td style="background:green;"> </td>, <td>green</td>, <td>#008000</td>, <td>rgb(0,128,0)</td>]
[<td>26</td>, <td style="background:powderblue;"> </td>, <td>powderblue</td>, <td>#B0E0E6</td>, <td>rgb(176,224,230)</td>]
[<td>27</td>, <td style="background:lightblue;"> </td>, <td>lightblue</td>, <td>#ADD8E6</td>, <td>rgb(173,216,230)</td>]
[<td>28</td>, <td style="background:lightskyblue;"> </td>, <td>lightskyblue</td>, <td>#87CEFA</td>, <td>rgb(135,206,250)</td>]
[<td>29</td>, <td style="background:skyblue;"> </td>, <td>skyblue</td>, <td>#87CEEB</td>, <td>rgb(135,206,235)</td>]
[<td>30</td>, <td style="background:deepskyblue;"> </td>, <td>deepskyblue</td>, <td>#00BFFF</td>, <td>rgb(0,191,255)</td>]
[<td>31</td>, <td style="background:lightsteelblue;"> </td>, <td>lightsteelblue</td>, <td>#B0C4DE</td>, <td>rgb(176,196,222)</td>]
[<td>32</td>, <td style="background:dodgerblue;"> </td>, <td>dodgerblue</td>, <td>#1E90FF</td>, <td>rgb(30,144,255)</td>]

[<td>32</td>,
 <td style="background:dodgerblue;"> </td>,
 <td>dodgerblue</td>,
 <td>#1E90FF</td>,
 <td>rgb(30,144,255)</td>]

In [72]:
data  = requests.get(url).text
data

'<html>\n   <body>\n      <h1>Partital List  of HTML5 Supported Colors</h1>\n<table border ="1" class="main-table">\n   <tr>\n      <td>Number </td>\n      <td>Color</td>\n      <td>Color Name</td>\n      <td>Hex Code<br>#RRGGBB</td>\n      <td>Decimal Code<br>(R,G,B)</td>\n   </tr>\n   <tr>\n      <td>1</td>\n      <td style="background:lightsalmon;">&nbsp;</td>\n      <td>lightsalmon</td>\n      <td>#FFA07A</td>\n      <td>rgb(255,160,122)</td>\n   </tr>\n   <tr>\n      <td>2</td>\n      <td style="background:salmon;">&nbsp;</td>\n      <td>salmon</td>\n      <td>#FA8072</td>\n      <td>rgb(250,128,114)</td>\n   </tr>\n   <tr>\n      <td>3</td>\n      <td style="background:darksalmon;">&nbsp;</td>\n      <td>darksalmon</td>\n      <td>#E9967A</td>\n      <td>rgb(233,150,122)</td>\n   </tr>\n   <tr>\n      <td>4</td>\n      <td style="background:lightcoral;">&nbsp;</td>\n      <td>lightcoral</td>\n      <td>#F08080</td>\n      <td>rgb(240,128,128)</td>\n   </tr>\n   <tr>\n      <td>5</td>\n      <td style="background:coral;">&nbsp;</td>\n      <td>coral</td>\n      <td>#FF7F50</td>\n      <td>rgb(255,127,80)</td>\n   </tr>\n   <tr>\n      <td>6</td>\n      <td style="background:tomato;">&nbsp;</td>\n      <td>tomato</td>\n      <td>#FF6347</td>\n      <td>rgb(255,99,71)</td>\n   </tr>\n   <tr>\n      <td>7</td>\n      <td style="background:orangered;">&nbsp;</td>\n      <td>orangered</td>\n      <td>#FF4500</td>\n      <td>rgb(255,69,0)</td>\n   </tr>\n   <tr>\n      <td>8</td>\n      <td style="background:gold;">&nbsp;</td>\n      <td>gold</td>\n      <td>#FFD700</td>\n      <td>rgb(255,215,0)</td>\n   </tr>\n   <tr>\n      <td>9</td>\n      <td style="background:orange;">&nbsp;</td>\n      <td>orange</td>\n      <td>#FFA500</td>\n      <td>rgb(255,165,0)</td>\n   </tr>\n   <tr>\n      <td>10</td>\n      <td style="background:darkorange;">&nbsp;</td>\n      <td>darkorange</td>\n      <td>#FF8C00</td>\n      <td>rgb(255,140,0)</td>\n   </tr>\n   <tr>\n      <td>11</td>\n      <td style="background:lightyellow;">&nbsp;</td>\n      <td>lightyellow</td>\n      <td>#FFFFE0</td>\n      <td>rgb(255,255,224)</td>\n   </tr>\n   <tr>\n      <td>12</td>\n      <td style="background:lemonchiffon;">&nbsp;</td>\n      <td>lemonchiffon</td>\n      <td>#FFFACD</td>\n      <td>rgb(255,250,205)</td>\n   </tr>\n   <tr>\n      <td>13</td>\n      <td style="background:papayawhip;">&nbsp;</td>\n      <td>papayawhip</td>\n      <td>#FFEFD5</td>\n      <td>rgb(255,239,213)</td>\n   </tr>\n   <tr>\n      <td>14</td>\n      <td style="background:moccasin;">&nbsp;</td>\n      <td>moccasin</td>\n      <td>#FFE4B5</td>\n      <td>rgb(255,228,181)</td>\n   </tr>\n   <tr>\n      <td>15</td>\n      <td style="background:peachpuff;">&nbsp;</td>\n      <td>peachpuff</td>\n      <td>#FFDAB9</td>\n      <td>rgb(255,218,185)</td>\n   </tr>\n   <tr>\n      <td>16</td>\n      <td style="background:palegoldenrod;">&nbsp;</td>\n      <td>palegoldenrod</td>\n      <td>#EEE8AA</td>\n      <td>rgb(238,232,170)</td>\n   </tr>\n   <tr>\n      <td>17</td>\n      <td style="background:khaki;">&nbsp;</td>\n      <td>khaki</td>\n      <td>#F0E68C</td>\n      <td>rgb(240,230,140)</td>\n   </tr>\n   <tr>\n      <td>18</td>\n      <td style="background:darkkhaki;">&nbsp;</td>\n      <td>darkkhaki</td>\n      <td>#BDB76B</td>\n      <td>rgb(189,183,107)</td>\n   </tr>\n   <tr>\n      <td>19</td>\n      <td style="background:yellow;">&nbsp;</td>\n      <td>yellow</td>\n      <td>#FFFF00</td>\n      <td>rgb(255,255,0)</td>\n   </tr>\n   <tr>\n      <td>20</td>\n      <td style="background:lawngreen;">&nbsp;</td>\n      <td>lawngreen</td>\n      <td>#7CFC00</td>\n      <td>rgb(124,252,0)</td>\n   </tr>\n   <tr>\n      <td>21</td>\n      <td style="background:chartreuse;">&nbsp;</td>\n      <td>chartreuse</td>\n      <td>#7FFF00</td>\n      <td>rgb(127,255,0)</td>\n   </tr>\n   <tr>\n      <td>22</td>\n      <td style="background:limegreen;">&nbsp;</td>\n      <td>limegreen</td>\n      <td>#32CD32</td>\n      <td>rgb(50,205,50)</td>\n   </tr>\n   <tr>\n      <td>23</td>\n      <td style="background:lime;">&nbsp;</td>\n      <td>lime</td>\n      <td>#00FF00</td>\n      <td>rgb(0.255.0)</td>\n   </tr>\n   <tr>\n      <td>24</td>\n      <td style="background:forestgreen;">&nbsp;</td>\n      <td>forestgreen</td>\n      <td>#228B22</td>\n      <td>rgb(34,139,34)</td>\n   </tr>\n   <tr>\n      <td>25</td>\n      <td style="background:green;">&nbsp;</td>\n      <td>green</td>\n      <td>#008000</td>\n      <td>rgb(0,128,0)</td>\n   </tr>\n   <tr>\n      <td>26</td>\n      <td style="background:powderblue;">&nbsp;</td>\n      <td>powderblue</td>\n      <td>#B0E0E6</td>\n      <td>rgb(176,224,230)</td>\n   </tr>\n   <tr>\n      <td>27</td>\n      <td style="background:lightblue;">&nbsp;</td>\n      <td>lightblue</td>\n      <td>#ADD8E6</td>\n      <td>rgb(173,216,230)</td>\n   </tr>\n   <tr>\n      <td>28</td>\n      <td style="background:lightskyblue;">&nbsp;</td>\n      <td>lightskyblue</td>\n      <td>#87CEFA</td>\n      <td>rgb(135,206,250)</td>\n   </tr>\n   <tr>\n      <td>29</td>\n      <td style="background:skyblue;">&nbsp;</td>\n      <td>skyblue</td>\n      <td>#87CEEB</td>\n      <td>rgb(135,206,235)</td>\n   </tr>\n   <tr>\n      <td>30</td>\n      <td style="background:deepskyblue;">&nbsp;</td>\n      <td>deepskyblue</td>\n      <td>#00BFFF</td>\n      <td>rgb(0,191,255)</td>\n   </tr>\n   <tr>\n      <td>31</td>\n      <td style="background:lightsteelblue;">&nbsp;</td>\n      <td>lightsteelblue</td>\n      <td>#B0C4DE</td>\n      <td>rgb(176,196,222)</td>\n   </tr>\n   <tr>\n      <td>32</td>\n      <td style="background:dodgerblue;">&nbsp;</td>\n      <td>dodgerblue</td>\n      <td>#1E90FF</td>\n      <td>rgb(30,144,255)</td>\n   </tr>\n</table>\n   </body>\n</html>'

In [73]:
soup = BeautifulSoup(data,"html5lib")

In [74]:
table = soup.find('table')

In [75]:
#Get all rows from the table
for row in table.find_all('tr'):
    # Get all columns in each row.
    cols = row.find_all('td') 
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print("{}--->{}".format(color_name,color_code))

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF